.scard{
    height: auto;
    margin-block: 6px;
    box-shadow: 2px 2px 13px rgba(128, 128, 128, 0.539);
    width: 30%;
}
.image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px; /* thoda round look ke liye */
}
.container-blog {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.titl {
    padding: 12px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.titl a {
    display: inline-block;
    margin-top: 10px;
    color: #000; /* ya black */
    text-decoration: underline;
    font-weight: bold;
}